.card {
  background: radial-gradient(100% 100% at 0% 3.04%, #20008d 0%, #320085 100%);
  box-shadow: 0px 0px 34px 5px rgba(0, 0, 0, 0.55);
  border-radius: 18px;
  padding: 60px;
  height: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
