.button {
  color: #ff9900;
  font-weight: 600;
  padding: 0.5rem 1em;
  border: 1px solid #dddddd;
  border-radius: 12px;
}

// .buttonSecondary {
//   color: #ff9900;
//   font-weight: 600;
//   padding: 0.5rem 1em;
//   border: 1px solid #dddddd;
//   border-radius: 12px;
// }
