.button {
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 12px;
  color: $primary-color-400;
  padding: 8px 16px;
  transition: background-color 275ms ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}
