.button {
  color: #ff9900;
  font-weight: 600;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 12px;
  font-size: 24px;
}

// .buttonSecondary {
//   color: #ff9900;
//   font-weight: 600;
//   padding: 0.5rem 1em;
//   border: 1px solid #dddddd;
//   border-radius: 12px;
// }
