.logo {
  font-family: "Pacifico", cursive;
  color: $primary-color-400;
  &:hover {
    cursor: pointer;
  }
  &--small {
    font-size: map-get($logo-sizes, small);
  }

  &--medium {
    font-size: map-get($logo-sizes, medium);
  }

  &--large {
    font-size: map-get($logo-sizes, large);
  }

  &--extra-large {
    font-size: map-get($logo-sizes, extra-large);
  }
}
