// Font Size
.textNano {
  font-size: 10px;
}
.textSmall {
  font-size: 12px;
}
.textLarge {
  font-size: 18px;
}
.textGiant {
  font-size: 24px;
}
.textTitle {
  font-size: 45px;
}
.textMedium {
  font-size: 14px;
}

// Font Weight
.textThin {
  font-weight: 300;
}
.textLight {
  font-weight: 400;
}
.textSemiBold {
  font-weight: 700;
}
.textBold {
  font-weight: 800;
}
.textNormal {
  font-weight: 600;
}

//Text Mode
.textLink {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.textLogo {
  font-size: inherit;
  font-family: "Pacifico", cursive;
  color: $primary-color;
}
