// Font Size
.textTitle,
.textH1,
.textH2,
.textH3,
.textH4 {
  font-weight: map-get($font-weights, bold);
}

.bodyLargeRegular,
.bodyLargeSimeBold {
  font-size: $font-body-large;
}

.bodySmallRegular,
.bodySmallSemiBold {
  font-size: $font-body-small;
}

.textTitle {
  font-size: $font-title;
}
.textH1 {
  font-size: $font-h1;
}
.textH2 {
  font-size: $font-h2;
}
.textH3 {
  font-size: $font-h3;
}
.textH4 {
  font-size: $font-h4;
}
.textH5 {
  font-weight: map-get($font-weights, regular);
  font-size: $font-h5;
}
.bodySmallRegular,
.bodyLargeRegular {
  font-weight: map-get($font-weights, regular);
}
.bodySmallSemiBold,
.bodyLargeSemiBold {
  font-weight: map-get($font-weights, semi-bold);
}

//Text Mode
.textLink {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.textLogo {
  font-size: inherit;
  font-family: "Pacifico", cursive;
  color: $primary-color-400;
  transition: all 500ms ease;
  &:hover {
    transform: scale(2);
    text-shadow: 1px 1px 25px black;
    cursor: pointer;
  }
}
