@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  color: $ternary-color;
  &:hover {
    cursor: default;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Quicksand", "Dosis", sans-serif;
  box-sizing: border-box;
}
