.bg {
  position: absolute;
  background: radial-gradient(100% 50% at 50% 50%, #20008d 0%, #320085 100%);
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.homeCard {
  width: 45%;
  height: 250px;
  transition: transform 500ms ease;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.55);
  }
}

.homeButton {
  width: initial;
}
