.bg {
  z-index: -1;
  position: absolute;
  overflow: hidden;
}

.bgGradient {
  position: relative;
  background: radial-gradient(100% 50% at 50% 50%, #20008d 0%, #320085 100%);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.bgCircle {
  position: absolute;
  border-radius: 50%;
  right: calc(100vh / 2.5 * -1);
  top: calc(100vh / 1.8 * -1);
  width: 100vh;
  height: 100vh;
  background: $primary-color;
}

.homeCard {
  width: 45%;
  height: 250px;
  transition: transform 500ms ease;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.55);
  }
}

.homeButton {
  width: initial;
}
