.main {
  align-items: center;
  width: 75vw;
  margin: 0 10%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  &__text {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: center;
  }
}
