// Color Variables
$primary-color: #ff9900;
$secondary-color: #20008d;
$ternary-color: #dddddd;

//Font Sizes Variables
$font-title: 60px;
$font-h1: 49px;
$font-h2: 39px;
$font-h3: 31px;
$font-h4: 25px;
$font-h5: 20px;
$font-body-large: 16px;
$font-body-small: 14px;
$font-caption-large: 12px;
$font-caption-small: 10px;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);
