.background {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  &__color {
    position: relative;
    background: $neutral-color-900;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}
